
:root {
  --background: #ffffff;
  --text-primary: #000;
  --text-secondary: #6F36EA;
  --accent: #6F36EA;
  --border: #333;
  --form-bg: #fff;
}

[data-theme='dark'] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #6F36EA;
  --accent: #6F36EA;
  --border: #808080;
  --form-bg: #191919;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

Link {
  color: var(--text-secondary);
}

/* Navbar */

.navbar {
  position: relative;
  display: flex;
  padding: 30px 150px;
}

.left {
  flex: 1;
}

.title {
  font-size: 22px;
  color: var(--text-primary);
  margin-right: 15px;
  font-weight: 600;
  text-decoration: none;
}

.app {
  background-color: var(--background);
  color: var(--text-primary);
  height: 100vh;
}

.right i {
  font-size: 1.1rem;
  cursor: pointer;
}

/* Home Page */

.form {
  width: 45%;
  padding: 10px 40px;
  margin: 50px auto;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 26px;
  margin-bottom: 15px;
}

.sub {
  font-size: 18px;
  margin-bottom: 5px;
}

h4 {
  font-size: 18px;
}

.desc {
  font-size: 17px;
  margin-bottom: 15px;
}

.subheader {
  display: flex;
  align-items: center;
}

.subtitle {
  flex: 1;
}

button {
  flex: 1;
  font-size: 15px;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  color: #fff;
  cursor: pointer;
}

.links {
  display: flex;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #6F36EA30;
}

.linkicon i {
  font-size: 1.2rem;
}

.linkitem {
  flex: 1;
  font-weight: 700;
  color: #5C5C5C;
}

@media screen and (max-width:478px) {
  .login {
    width: 95%;
  }
}